.contact-div {
  border: 2px solid teal;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 10px 20px #111;
}

.contact-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
}

.contact-div h3 {
  font-size: 3rem;
  font-weight: 300;
}

.contact-list > li {
  padding: 4px 0;
}

span.online {
  color: lightgreen;
}

span.offline {
  color: palevioletred;
}
